body {
    padding: 0;
    margin: 0;
    background: #1c1c1c;
    color: #fff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.07em;
}

header {
    width: 800px;
    margin: auto;
    padding: 40px 0 0 0;
}

header.image {
    padding: 10px 0 0 0;
    position: relative;
}

header.image img {
    margin: auto;
    display: block;
}

header.image h1 {
    position: absolute;
    top: 60px;
}

h1 {
    font-weight: lighter;
    letter-spacing: 8px;
    font-size: 1.5em;
    text-align: center;
}

h1 span {
    font-size: 2em;
}

h2 {
    margin: 40px 0 0 0;
    font-size: 1em;
    text-align: center;
    font-weight: lighter;
    line-height: 2em;
}

h3 {
    margin: 1em 0 1em 0;
    font-size: 1em;
    text-align: center;
    font-weight: lighter;
    line-height: 2em;
}

blockquote {
    text-align: center;
    font-style: italic;
}

main {
    width: 900px;
    margin: auto;
    padding: 40px 0 40px 0;
}

footer {
    width: 900px;
    margin: auto;
    padding: 0 0 40px 0;
}

#accordion div {
    display: none;
}

#accordion > a {
    display: block;
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    /*font-family: 'PT Sans', sans-serif;*/
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}

#accordion > a span {
    width: 35px;
    display: inline-block;
    font-size: 0.75em;
}

#accordion > a.open .fa-plus{
    display: none;
}

#accordion > a.open .fa-minus{
    display: inline;
}

#accordion > a.closed .fa-plus{
    display: inline;
}

#accordion > a.closed .fa-minus{
    display: none;
}

p {
    font-size: .9em;
    line-height: 1.7em;
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
}

#loci {
    float: left;
    padding: 0 0 0 40px;
}

#chorus {
    float: right;
    padding: 0 40px 0 0;
}

a.downloadpdf {
    color: #fff;
    text-decoration: none;
}

a.downloadpdf span {
    margin: 0 10px 0 0;
}

.totop {
    color: #fff;
    text-decoration: none;
    margin: 0 10px 0 0;
}